<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1><% menuItems.category%></h1>
  <% menuItems.forEach( menuItem => { %>
    <h2><%= menuItem.name %>
      <% if(menuItem.rating === 5) { %>
        ⭐️
      <% } %> </h2>
    <h3>Price: $<%= menuItem.price %></h3>
    <h3>Rating: <%= menuItem.rating %> stars</h3>
    <h3>Description: <%= menuItem.details %></h3>
    <% }) %>
</body>
</html>
